#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
footer {
    position: absolute; 
    bottom: 0%;
    align-items: center;
    text-align: center;
    margin: 10px 10px 10px 10px; 
}

.css-selector {
  font-family: 'Londrina Shadow', serif;
}

nav .title{
    display: block;
    transform: rotate(270deg);
    margin-top:20%;
    margin-left: -60%;
    font-family: 'Londrina Shadow', cursive;
    font-size: 8em;
    overflow: auto;
    color:#F2690E;
    white-space: nowrap;
    grid-area: title;
}
nav a:hover{
    text-decoration: none;
}
nav{
  /*  position: fixed;  */
    width: 20%;
    display:grid;
    grid-template-rows: 12fr 2fr;
    grid-template-areas: "title" "ul";
}
@media screen and (max-width:650px){
    nav{
        display:none;
    }
    .bio{
        position:fixed;
        width:100%;
        left:10%;
    }
    .buttondiv div{
        clear:left;
        width:200%;
        background-color: none;
        color:#F2690E;
        
    } 
    .buttondiv h1:hover{
        color:#94A6BF;
    }
}
@media screen and (min-width:650px){
    .buttondiv div{
        background-color: none;
        color:#F2690E;
        border-style: solid;
        border-width: 2px;
        border-color:#F2690E;
    }
    .buttondiv h1:hover{
        color:#94A6BF;
    }
}





svg {
    width: 100%;
    height: 100%;
    position:absolute;
}
svg mask rect {
    fill: rgba(199, 202, 185, 0.8);
}
svg > rect {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

.bio{
   position: fixed;
    top: 20%;
    right: 1%;
    width: 76%;
}
.bio{
    color:rgba(60, 65, 62, 0.8);
}
.buttondiv{
    position: fixed;
    top: 65%;
    right: 0%;
    white-space: nowrap;
    width: 80%;
    height: 40%;
}
.buttondiv div{
    text-align: center;
    text-decoration: none;
    font-size: 5em;
    
    float:left;
    width:30%;
    margin-left:1%;
    margin-right: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.buttondiv ul{
    list-style:none;
}
.buttondiv a:hover{
    text-decoration: none;
}
#button1{
    grid-area:b1;
}
#button2{
    grid-area:b2;
}
#button3{
    grid-area:b3;
}


















